<!doctype html>
<html lang="en" ng-app="lunchCheck">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .warning { color: rgb(0, 0, 255); font-weight: bold;}
    </style>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-style="setBorder" ng-focus="reset()"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchList">
            <p class="warning">Empty items are excluded and not considred as a lunch item.</p>
         </div>
         <div class="form-group, btn-field">
             <button class="btn btn-default" ng-click="lunchCheck()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="setColor">
           <!-- Your message can go here. -->
           {{ lunchMessage }}
         </div>
   </div>

</body>
</html>
